/* src/App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animación del logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

/* Media Queries para Responsividad */

/* En pantallas más pequeñas (teléfonos móviles) */
@media (max-width: 480px) {
  .App-logo {
    height: 30vmin; /* Reduce el tamaño del logo en pantallas más pequeñas */
  }

  .App-header {
    font-size: calc(12px + 3vmin); /* Ajusta el tamaño de la fuente */
    padding: 10px; /* Ajusta el padding */
  }

  .App-link {
    font-size: 1rem; /* Ajusta el tamaño de los enlaces */
  }
}

/* En pantallas medianas (tabletas) */
@media (max-width: 768px) {
  .App-logo {
    height: 35vmin; /* Logo un poco más grande en tabletas */
  }

  .App-header {
    font-size: calc(12px + 2vmin); /* Ajusta ligeramente el tamaño de la fuente */
  }

  .App-link {
    font-size: 1.2rem; /* Aumenta el tamaño del enlace para tabletas */
  }
}

/* Animación del logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
